body {
    font-family: 'lato', sans-serif;
  }
  .container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #e2e2e7;
  }
  
  /* h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  } */
  
  .responsive-table li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .responsive-table .table-header {
      background-color: #ffffff;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .responsive-table .table-row {
      background-color: #ffffff;
      box-shadow: 9px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .responsive-table .col-1 {
      flex-basis: 20%;
    }
    .responsive-table .col-2 {
      flex-basis: 20%;
    }
    .responsive-table .col-3 {
      flex-basis: 40%;
    }
    .responsive-table .col-4 {
      flex-basis: 20%;
    }

    .responsive-table .col-5 {
      flex-basis: 20%;
    }

    .responsive-table .col-6 {
      flex-basis: 20%;
    }

    .responsive-table .col-7 {
      flex-basis: 10%;
    }
    
      .table-header {
        display: none;
      }
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        margin: 5px;
      }
      .col {
        display: flex;
        padding: 10px 0;
      }


.col:before {
  color: #6C7A89;
  padding-right: 10px;
  /* padding-left: 10px; */
  content: attr(data-label);
  flex-basis: 50%;
  text-align: right;
}

.remove-link {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #e2e2e7 50%, #e2e2e7 50%);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #0c0c0c;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 4px;
}

/* body, html {
	margin:0px;
	padding:0px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 23px;
	line-height: 42px;
	font-weight: 100;
	text-align:center;
	height: 100%;
} */
section {
	/* background: #dce7eb; */
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}


.trash {
	background:#ff6873;
	width: 66px;
	height: 80px;
	display: inline-block;
	margin:0 auto;
	
	position: relative;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
.trash:after {
	position: absolute;
	left: -99px;
	right: 0;
	bottom: -50px;
	width: 300px;
}
.trash span {
	position: absolute;
	height: 12px;
	background: #ff6873;
	top: -19px;
	left: -10px;
	right: -10px;
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transform: rotate(0deg);
	transition: transform 250ms;
	transform-origin: 19% 100%;
}
.trash span:after {
	content: '';
	position: absolute;
	width: 27px;
	height: 7px;
	background: #ff6873;
	top: -10px;
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transform: rotate(0deg);
	transition: transform 250ms;
	transform-origin: 19% 100%;
	left: 27px;
}


.trash i {
	position:relative;
	width: 5px;
	height:50px;
	background:#fff;
	display:block;
	margin:14px auto;
	border-radius: 5px;
}
.trash i:after {
	content: '';
	width: 5px;
	height: 50px;
	background: #fff;
	position: absolute;
	left: -18px;
	border-radius: 5px;
}
.trash i:before {
	content: '';
	width: 5px;
	height: 50px;
	background: #fff;
	position: absolute;
	right: -18px;
	border-radius: 5px;
}

.trash:hover span {
	transform: rotate(-45deg);
	transition: transform 250ms;
}