form .form-inner{
    position: relative;
    display: flex;
    justify-content:center;
    background-color: #FFF;
    padding: 0px;
    z-index: 2;
}

form .form-inner h2 {
    color: black;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

form .form-inner .form-group{
    display: relative;
    width: 200px;
    margin-bottom: 15px;
}

.form-inner .form-group label{
    display: relative;
    color: #fff;
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.form-inner .form-group:focus-within label {
    color: #FE4880;
}

form .form-inner .form-group input{
    display: relative;
    width: 100%;
    padding: 10px 15px;
    background-color: #F8F8F8;
    border-radius: 8px;
    transition: 0.4s;
}

form .form-inner .form-group input:focus{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type="submit"]{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #e2e2e7 50%, #e2e2e7 50%, #60a8f0);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #0c0c0c;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 4px;
}

form .form-inner input[type="submit"]:hover {
    background-position: 100% 0%;
}





body {
    font-family: 'lato', sans-serif;
  }
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #e2e2e7;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }
  
  .responsive-table li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .responsive-table .table-header {
      background-color: #95A5A6;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .responsive-table .table-row {
      background-color: #ffffff;
      box-shadow: 9px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .responsive-table .col-1 {
      flex-basis: 40%;
    }
    .responsive-table .col-2 {
      flex-basis: 40%;
    }
    .responsive-table .col-3 {
      flex-basis: 40%;
    }
    .responsive-table .col-4 {
      flex-basis: 40%;
    }
    
      .table-header {
        display: none;
      }
      li {
        display: block;
      }
      .col {
        
        flex-basis: 100%;
        margin: 5px;
      }
      .col {
        display: flex;
        padding: 10px 0;
      }


.col:before {
  color: #6C7A89;
  padding-right: 10px;
  /* padding-left: 10px; */
  content: attr(data-label);
  flex-basis: 50%;
  text-align: right;
}

.remove-link {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #e2e2e7 50%, #e2e2e7 50%);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #0c0c0c;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 4px;
}

/* body, html {
	margin:0px;
	padding:0px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 23px;
	line-height: 42px;
	font-weight: 100;
	text-align:center;
	height: 100%;
} */
section {
	/* background: #dce7eb; */
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}


.trash {
	background:#ff6873;
	width: 66px;
	height: 80px;
	display: inline-block;
	margin:0 auto;
	
	position: relative;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
.trash:after {
	position: absolute;
	left: -99px;
	right: 0;
	bottom: -50px;
	width: 300px;
}
.trash span {
	position: absolute;
	height: 12px;
	background: #ff6873;
	top: -19px;
	left: -10px;
	right: -10px;
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transform: rotate(0deg);
	transition: transform 250ms;
	transform-origin: 19% 100%;
}
.trash span:after {
	content: '';
	position: absolute;
	width: 27px;
	height: 7px;
	background: #ff6873;
	top: -10px;
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transform: rotate(0deg);
	transition: transform 250ms;
	transform-origin: 19% 100%;
	left: 27px;
}


.trash i {
	position:relative;
	width: 5px;
	height:50px;
	background:#fff;
	display:block;
	margin:14px auto;
	border-radius: 5px;
}
.trash i:after {
	content: '';
	width: 5px;
	height: 50px;
	background: #fff;
	position: absolute;
	left: -18px;
	border-radius: 5px;
}
.trash i:before {
	content: '';
	width: 5px;
	height: 50px;
	background: #fff;
	position: absolute;
	right: -18px;
	border-radius: 5px;
}

.trash:hover span {
	transform: rotate(-45deg);
	transition: transform 250ms;
}

/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}