.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

th, td, table {
  border: 1px solid black;
  border-collapse:collapse;
  margin: 1px;
}

.my-stocks-container{
  margin:2px;
  padding: 2px;
  /* display:flex; */
  width:97%;
  grid-area:stocks-container;
  height: 75vh;
}

.family-shopping-list-title{
  background-color:rgb(226, 226, 231);
  margin:0rem;
  padding:1rem;
}

/* .family-shopping-table{
  flex:40%;
  height:50vh;
  border-radius:5px;
  margin-right:10px;
  margin-left:1px;
  display:flex;
  justify-content:left;
  
  overflow-y: scroll;
} */

/* this is where you can make table move around */
.table{
  padding:1rem;
  margin-left:24rem;
}

